<!-- Home Carousel -->
<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-dark">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-trophy"></i> <strong>Home Screen</strong></h1>
    </div>
</section>
<!-- END Intro -->

<!-- Key Features -->
<section class="menus site-content site-section">
    <div class="row">
        <div id="site-user-profile" class="col-xs-12 site-block">
            <a href="#/user_profile" class="menu-item"><h3 class="site-heading"><i class="fa fa-user animation-floatingHor"></i> <strong>Users Profile</strong></h3></a>
        </div>
        <div id="site-menu" class="col-xs-12 site-block">
            <a href="#/menu" class="menu-item"><h3 class="site-heading"><i class="fa fa-calendar animation-floatingHor"></i> <strong>Menu</strong></h3></a>

        </div>
        <div id="site-comments" class="col-xs-12 site-block">
            <a href="#/comments" class="menu-item"><h3 class="site-heading"><i class="fa fa-comments-o animation-pulse"></i> <strong>Comment</strong></h3></a>

        </div>
        <div id="site-announcements" class="col-xs-12 site-block">
            <a href="#/announcements" class="menu-item"><h3 class="site-heading"><i class="fa fa-bullhorn animation-pulse"></i> <strong>Announcement</strong></h3></a>

        </div>
        <div id="site-favourite-dishes" class="col-xs-12 site-block">
            <a href="#/favourite_dishes" class="menu-item"><h3 class="site-heading"><i class="fa fa-heart-o animation-pulse"></i> <strong>Favourite Dishes</strong></h3></a>

        </div>
    </div>
    <hr>
</section>
<!-- END Key Features -->
