<section class="site-section site-section-light site-section-top themed-background-dark">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-trophy"></i> <strong>Menu Screen</strong></h1>
        <h2 class="h3 text-center animation-slideUp"><strong>Weekly Menu</strong></h2>
    </div>
</section>
<section class="site-content site-section animation-slideDown">
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
        </div>
    </div>
    <div class="row weekly-menu" ng-repeat="(key, value) in vm.meals">
        <h3 class="push-bit menu-day"><strong>{{key | date:'EEEE'}}</strong></h3>
        <div class='col-xs-12'>
            <div class="row portfolio" ng-if="$index % 5 == 0" ng-show="value" ng-repeat="dish in value">
                <div class="col-xs-12 col-sm-offset-1 col-sm-2 portfolio-item animation-fadeInQuick" ng-if="$index < value.length">
                    <a href="javascript:void(0);">
                        <img src="{{value[$index].image}}" alt="Image" class="img-responsive">
                        <span class="portfolio-item-info"><strong>{{value[$index].name}}</strong></span>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-2 portfolio-item animation-fadeInQuick" ng-if="$index + 1 < value.length">
                    <a href="javascript:void(0);">
                        <img src="{{value[$index + 1].image}}" alt="Image" class="img-responsive">
                        <span class="portfolio-item-info"><strong>{{value[$index + 1].name}}</strong></span>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-2 portfolio-item animation-fadeInQuick" ng-if="$index + 2 < value.length">
                    <a href="javascript:void(0);">
                        <img src="{{value[$index + 2].image}}" alt="Image" class="img-responsive">
                        <span class="portfolio-item-info"><strong>{{value[$index + 2].name}}</strong></span>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-2 portfolio-item animation-fadeInQuick" ng-if="$index + 3 < value.length">
                    <a href="javascript:void(0);">
                        <img src="{{value[$index + 3].image}}" alt="Image" class="img-responsive">
                        <span class="portfolio-item-info"><strong>{{value[$index + 3].name}}</strong></span>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-2 portfolio-item animation-fadeInQuick" ng-if="$index + 4 < value.length">
                    <a href="javascript:void(0);">
                        <img src="{{value[$index + 4].image}}" alt="Image" class="img-responsive">
                        <span class="portfolio-item-info"><strong>{{value[$index + 4].name}}</strong></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>