<section class="site-section site-section-light site-section-top themed-background-dark">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-trophy"></i> <strong>Tables Screen</strong></h1>
        <h2 class="h3 text-center animation-slideUp"><strong>Choose Tables</strong></h2>
    </div>
</section>
<section class="site-content site-section animation-slideDown" detail-table>
    <div class="container text-center">
        <div class="row">
            <div class='col-xs-12 col-sm-6'>
                <div class="site-block text-center">
                    <div class="btn-group portfolio-filter">
                        <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.selectedTab()" ng-class="{'active' : vm.isTablesNormal }">Tables normal</a>
                        <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.selectedTab()" ng-class="{'active' : !vm.isTablesNormal }">Tables vegan</a>
                    </div>
                </div>
                <div class="site-block text-center text-warning">
                   <strong>(*) You are joinning in this table</strong>
                   <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                </div>
                <div class="row portfolio text-center">
                    <div class="col-xs-12 col-sm-4 portfolio-item" ng-repeat="table in vm.tables" ng-click="vm.getUsersInTable(table)">
                        <div class="table" ng-class="{'table-active': vm.selectedTable === table.id, 'table-vegan' : !vm.isTablesNormal}">
                            <h3>Table {{table.name}} <span ng-show="vm.table_joined == table">(*)</span></h3>
                            <p>
                                <strong>Available Seats:</strong> {{table.available_seats}}/{{table.seats}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xs-12 col-sm-6 detail-table'>
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6 btn-choose-table" ng-if="vm.table_clicked">
                        <div class="col-xs-12"><button class="btn btn-success btn-block" ng-show="!vm.table_joined" ng-click="vm.joinTable(vm.table_clicked.id)">Join</button></div>
                        <div class="col-xs-12"><button class="btn btn-danger btn-block" ng-show="vm.table_joined == vm.table_clicked" ng-click="vm.leaveTable(vm.table_clicked.id)">Leave</button></div>
                    </div>
                </div>
                <div class="row row-items text-center">
                    <div class="col-xs-3" ng-repeat="user in vm.users">
                        <a href="javascript:void(0)" >
                            <img class="img-circle img-thumbnail img-responsive" src="{{user.avatar_content_file}}" width="70" height="70" >
                            <p>{{user.first_name}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>